body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f3f3f3;
}

.container {
    width: 350px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

input {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
